.header {
    width: 1400px;

}

.header-title {
    width: 871px;
    height: 123px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-family: Montserrat;
    font-size: 88px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 123.2px */
    background-color: black;

}

.nav-header {
    width: 1400px;
    box-sizing: border-box;


}

.items {
    height: 80px;

    padding: 0 80px 0 80px;
    list-style: none;
    gap: 44px;
    display: flex;
    justify-content: center;


}


.avion {
    display: block;
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 69px 28px 80px;
    text-decoration: none;
    margin-left: 80px;


}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 29px;
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon {
    text-decoration: none;
    display: flex;
    gap: 16px;
    width: 80px;
    padding: 30px 80px 34px 101px;

}

.search {
    text-decoration: none;
    display: flex;
    background-image: url("../img/search.svg");
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;

}

.shop {
    text-decoration: none;
    display: flex;
    background-image: url("../img/shopping--cart.svg");
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;

}

.avatar {
    text-decoration: none;
    display: flex;
    background-image: url("../img/user--avatar.svg");
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.main {
    width: 1440px;

    margin: 0 auto;
}

.main-title {

    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 50.4px */

    padding: 80px 0 32px 0;
    display: flex;
    justify-content: center;
    gap: 28px;
    border-top: 1px solid#2A254B;



}

.div-select {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.select {
    border: none;
    padding: 12px 24px;


    gap: 8px;
}

.Category {

    gap: 12px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

.section {
    padding: 28px 80px 48px 80px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.section-img {
    width: 305px;
    height: 375px;
    flex-shrink: 0;


}

.wrapper {
    position: relative;
    width: 305px;
    height: 482px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.text-section {

    position: absolute;
    bottom: 55px;
    left: 0;
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */


}

.text-section1 {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
    margin: 64px 560px 40px 705px;
}

.button {
    width: 175px;
    height: 56px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    padding: 16px 32px;
    border: none;
    gap: 10px;
    background: var(--Light-Grey, #F9F9F9);
}

.section-underheader {
    padding-top: 40px;
    width: 1440px;

}

.photo {
    background-image: url("../img/join-background.jpg");
    width: 720px;
    height: 515px;
    flex-shrink: 0;
    float: left;
    padding-top: 40px 0;

}

.section-title {
    width: 541px;
    float: right;
    color: var(--Dark-Primary, #2A254B);
    text-align: start;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 71px 130px 0 49px;
}


.section-paragraph {
    width: 470px;
    padding: 20px 201px 0 49px;
    float: right;
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.button-section {
    color: var(--White, #FFF);
    margin: 395px 0 72px 792px;
    padding: 16px 32px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border: none;
    background: var(--Dark-Primary, #2A254B);

}

.footer {
    width: 1440px;
    height: 380px;
    flex-shrink: 0;
    background: var(--Dark-Primary, #2A254B);



}

.div-footer {
    padding: 60p 78px 312px 80px;

    border-bottom: 1px solid#4E4D93;
    display: flex;
    justify-content: flex-start;

}

.footer-items {

    width: 690px;

    padding: 58px 0 79px 62px;

    list-style: none;
    column-count: 3;

}


.foooter-link {

    text-decoration: none;

    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.div-map {
    display: flex;
    justify-content: start;
}

.map {


    width: 642px;
    height: 195px;
    padding: 60px 78px 0 0;
}

.div-line {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.under-line {
    width: 168px;
    height: 19px;
    padding: 0 246px 0 80px;
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;


}

.logo-div {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 0 246px 80px 546px;
    margin-top: 30px;

}

.logo-ln {
    background-image: url(../img/logo--linkedin.svg);
    text-decoration: none;
    display: flex;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;

}



.logo-Fb {
    background-image: url(../img/logo--facebook.svg);
    text-decoration: none;
    display: flex;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.logo-instagram {
    background-image: url(../img/logo--instagram.svg);
    text-decoration: none;
    display: flex;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.logo-skype {
    background-image: url(../img/logo--skype.svg);
    text-decoration: none;
    display: flex;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.logo-tw {
    background-image: url(../img/logo--twitter.svg);
    text-decoration: none;
    display: flex;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.logo-pinterest {
    background-image: url(../img/logo--pinterest.svg);
    text-decoration: none;
    display: flex;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}